<div class="container" id="conWhite">
    <div class="row">

        <div class="logo col-md-5">
            <a href="{{"/" | prepend: site.baseurl }}">
                <img src="../assets/img/logo.jpg">
            </a>
        </div>
        <div class="socialInfo">
            <div class="socialLinks">
                <a href="https://www.facebook.com/Lanyonscapes-195298063936662/">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://plus.google.com/+LanyonscapesGladstone/about">
                    <i class="fab fa-google-plus-square fa-2x"></i>
                </a>
                <a href="https://au.linkedin.com/in/lanyonscapes-pty-ltd-2005a2112/">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
            <div class="contactInfo">
                <a href="tel:0749794994">
                    <img src="../assets/img/landline.gif" alt="" usemap="#Map2" border="0">
                </a>

                <div class="t-buttons">

                    <a href="/q-c/">
                        <img src="../assets/img/newQuote.gif" alt="" usemap="#Map2" border="0">
                    </a>
                    <a href="/q-c/">
                        <img src="../assets/img/newConsultation.gif" alt="" usemap="#Map2" border="0">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>