<div class="container" id="conWhite">
    <div class="row">

        <div class="logo col-md-5">
            <img src="../assets/img/logo.jpg">
        </div>
        <div class="socialInfo">
            <div class="socialLinks">
                <a href="https://www.facebook.com/Lanyonscapes-195298063936662/"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://plus.google.com/+LanyonscapesGladstone/about"><i class="fab fa-google-plus-square fa-2x"></i></a>
                <a href="https://au.linkedin.com/in/scott-verrall-b2244611"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
            <div class="contactInfo">
                <a href="tel:0749794994">
                    <img src="../assets/img/landline.gif" alt="" usemap="#Map2" border="0">
                </a>
                <a href="tel:0429478615">
                    <img src="../assets/img/mobile.gif" alt="" usemap="#Map2" border="0">
                </a>

                <div class="t-buttons">

                    <a href="/q-c/">
                        <img src="../assets/img/newQuote.gif" alt="" usemap="#Map2" border="0">
                    </a>
                    <a href="/q-c/">
                        <img src="../assets/img/newConsultation.gif" alt="" usemap="#Map2" border="0">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>