<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div id="conWhite">
        {% include contactBar.html %}
    </div>

    <div class="navigation">
        <div class="navCon">
            {% include nav.html %}
        </div>
    </div>

    <img src="../assets/img/banner-inner.jpg" id="mainBanner">
    <div class="container" id="conWhite">

        {{ content }}
    </div>

    <div class="container">
        {% include footer.html %}
    </div>

    {% include js.html %}

</body>

</html>